@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --gradient-size: 100px;
}

body {
  background-color: #000000;
  opacity: 1;
  background: linear-gradient(135deg, #3e390155 25%, transparent 25%) -40px var(
        --gradient-size
      ) / 80px 80px,
    linear-gradient(225deg, #3e3901 25%, transparent 25%) -40px var(
        --gradient-size
      ) / 80px 80px,
    linear-gradient(315deg, #3e390155 25%, transparent 25%) 0px
      var(--gradient-size) / 80px 80px,
    linear-gradient(45deg, #3e3901 25%, #000000 25%) 0px var(--gradient-size) /
      80px 80px;

  /* background-color: #000000; */
  /* opacity: 1;
  background-image: repeating-radial-gradient(
      circle at 0 0,
      transparent 0,
      #000000 var(--gradient-size)
    ),
    repeating-linear-gradient(#3e390155, #292601); */

  @apply text-gray-200;
  overflow-x: hidden;
}
